*{
    font-family:serif;
    color: azure;
}

h2{
    padding: 30px;
    font-size: 50px;
}

body{
    text-align: center;
    background-image: url("/assets/50.png");
    background-size: 100%;
}

nav{
    opacity: 0.85;
    display: flex;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right,rgb(0, 4, 228),rgb(0, 7, 110));
}

.innerContainer{
    text-align: center;
    justify-content: center;
}

.card{
    background-image: linear-gradient(to bottom right,rgb(0, 4, 228),rgb(0, 7, 110));
    margin: 10px;
    opacity: 0.85;
    border-radius: 20px;
}
.c2{
    max-width: 200px;
}

.nav-link{
    margin: 20px;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    padding: 5px  300px;
}

#cardsCon {
    justify-content: center;
}
.coins_div{
    position: relative;
}

#next{
    right: 10px;
}
#prev{
    left: 10px;
}
#next , #prev {
    position:fixed;
    display: inline-block;
    cursor: pointer;
    top: 50%;
    width: 50px;
    border-radius: 50%;
    padding-right: 30px;
}
#next:hover, #prev:hover{
}

.moreInfoDiv{
    display: inline-block;
    position: relative;
    background-image: linear-gradient(to bottom right,rgb(0, 4, 228),rgb(0, 7, 110));
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 10px;
    margin: 10px;
    width: 70%;
    padding: 40px;
    opacity: 0.9;
}

.live_reports{
    display: inline-block;
    background-image: linear-gradient(to bottom right,rgb(0, 4, 228),rgb(0, 7, 110));
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 10px;
    margin: 10px;
    width: 100%;
    padding: 40px;
    opacity: 0.9;
}

.btnX{
    position: absolute;
    top: 2%;
    right: 1%;
    width: 30px;
    padding-left: 8px;
}

.navbar-collapse{
    justify-content: center;
}

.form-inline{
    display: inline-flex;
    align-self: flex-end;
    padding-bottom: 3%;
}

.form-control{
    margin-right: 10px;
}

.btn-outline-primary{
    color: black;
}

.card-header{
    border-radius: 10px;
}

.coinImg{
    width: 150px;
    margin: 10px;
    border-radius: 5px;
}

.price{
    font-size: 25px;
    color: rgb(51, 248, 255);
}

.in{
    display: inline-block;
}

.form-switch{
    margin: 10px 50px;
    border-radius: 10px;
    text-align: center;
}

.loaderGif{
    margin-top: 40px;
    width: 20%;
}
.about_div{
    justify-content: center;
    max-width: 70%;
}
#profileImg{
    width: 600px;
    border-radius: 30px;
}
